* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font: normal 16px "Montserrat", Georgia, sans-serif;
}

a {
    color: #53B3A1;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font: normal 10em "Josefin Sans", Georgia, sans-serif;
    margin-bottom: 0;
}

nav {
    border-bottom: 5px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li { 
    float: right;
}

.home-link {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
    transition: 0.3s;
}

.nav-link {
    border-left: 1px solid black;
}

li a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: black;
    z-index: 1;
}

.drop-link {
    text-align: left;
    color: silver;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
}

main {
    min-height: 632px;
    margin: 0.25em 0;
}

#intro {
    text-align: center;
}

.intro-mask {
    mask-image: url(watermark-white.png);
    mask-repeat: no-repeat;
    mask-size: 90%;
    mask-position: center;
    transition: 0.3s;
}

.intro-mask:hover {
    filter: grayscale(1);
}

.gradient {
    height: 432px;
    width: 100%;
    background: linear-gradient(45deg,#ff9900, #ff5500);
}

.tagline {
    position: relative;
    bottom: 3em;
}

.wrapper {
    overflow-x: scroll;
}

.scroll-gallery {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.scroll-gallery img {
    height: 150px;
    object-fit: cover;
    transition: 0.3s;
}

.scroll-gallery img:hover {
    opacity: 0.6;
    transform: scale(.9);
}

#gallery {
    display: flex;
    flex-flow: row;
    gap: 0.5em;
}

.column {
    flex: 1 0 25%;
    max-width: 100%;
}

.column img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0.25em 0px;
    transition: 0.3s;
}

.column img:hover {
    opacity: 0.6;
    transform: scale(.9);
}

#about-main {
    display: flex;
    flex-flow: row wrap;
    min-height: 632px;
    width: 75%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.about-img {
    text-align: right;
    flex: 1;
}
.about-img img {
    max-width: 100%;
}

.about-desc {
    padding: 1em;
    flex: 2;
}

#skills {
    margin: 0 2em;
}

.container {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.skill-box {
    flex: 1 1 25%;
}

.skill {
    background-color: silver;
    padding: 1em;
}

#bottom-gradient {
    height: 1em;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

footer {
    background-color: black;
    color: white;
    font-size: 0.75em;
    height: 100px;
    display: flex;
}

#credits {
    align-items: center;
    margin: auto;
}