/* Home page */

body {
    background-color: var(--teal);
}

.hero-img {
    width: 40%;
    margin: 0 auto;
}

.home-gallery {
    flex-flow: row wrap;
    gap: 1rem;
    padding: 1.5rem 0;
}

.gallery-item {
    flex: 1 0 calc(50% - 1rem);
    height: 200px;
}

/* Media queries */

@media screen and (max-width: 767px) {
    .gallery-item {
        flex: 1 0 100%;
    }
}

@media screen and (max-width: 576px) {
    .hero-img {
        width: 80%;
    }
}