/* Individual project page */

.grid-project-1 {
    grid-template-columns: 2fr 1fr 2fr;
}

.image-first {
    grid-area: 1 / 1 / 2 / 4;
}

.short-desc {
    grid-area: 3 / 1 / 4 / 4;
    padding: 1.25rem;
    background-color: var(--orange);
    align-items: center;
    border-image-source: url(/images/border.png);
    border-image-width: 80% auto auto 94%;
    border-image-slice: 0 5 5 0;
}

.image-second {
    grid-area: 2 / 1 / 3 / 3;
}

.image-third {
    grid-area: 2 / 3 / 3 / 4;
}

.image-fourth {
    grid-area: 4 / 1 / 4 / 4;
}

/* The Method */

figure {
    margin: 1.25rem 0;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
    color: var(--grey);
}

/* Media queries */

@media screen and (min-width: 768px) {
    .short-desc {
        border-image-width: 80% auto auto 96%;
    }
}

@media screen and (min-width: 1200px) {
    .short-desc {
        border-image-width: 80% auto auto 97%;
    }
}