/* Individual project page */

.grid-project-1 {
    grid-template-columns: 2fr 1fr 2fr;
    margin-top: 1.25rem;
}

.grid-project-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

#image-first {
    grid-area: 1 / 1 / 2 / 4;
}

#tools {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--orange);
    padding: 1.25rem;
    align-items: center;
    justify-content: center;
    border-image-source: url(/images/border.png);
    border-image-width: 80% auto auto 85%;
    border-image-slice: 0 5 5 0;
}

#tools p {
    margin: 1rem 0 0;
}

.project-icon {
    font-size: 1.75rem;
}

#short-desc {
    grid-area: 2 / 1 / 3 / 3;
}

#image-second {
    grid-area: 3 / 1 / 4 / 2;
}

#image-third {
    grid-area: 3 / 2 / 4 / 4;
}

#image-fourth {
    grid-area: 4 / 1 / 4 / 4;
}

/* The Method */

#process-img {
    margin: 1.25rem 0;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}