/* Universal defaults */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --teal: #39D0B5;
    --orange: #FDCC77;
    --white: #FFF;
    --black: #2E2E2E;
    --grey: #777;
    --faded: #E5E5E5;
}

/* Universal styles */

html {
    font-size: 14px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    color: var(--black);
    background-color: var(--white);
}

/* Desktop menu */

#menu {
    padding: 1.5rem 0 1.5rem 1.25rem;
    display: none;
    margin-bottom: 2.5rem;
}

#menu ul {
    list-style-type: none;
}

#menu a {
    font-size: 1.25rem;
}

/* Hamburger menu */

.hamburger {
    padding: 1.25rem;
    justify-content: end;
}

.hamburger i, .closebtn i, .socmed i {
    font-size: 1.75rem;
}

#mobilemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    color: var(--white);
    font-size: 1.5rem;
    overflow: hidden;
    transition: width 0.3s;
}

.mobile-content {
    width: 200px;
    height: 100%;
    padding-left: 1.25rem;
}

#mobilemenu ul {
    list-style: none;
}

#mobilemenu li {
    margin-bottom: 0.5rem;
}

.closebtn, .socmed {
    padding: 1.25rem;
    align-self: flex-end;
}

.socmed {
    margin-top: auto;
}

/* Link styles */

a {
    color: var(--black);
    transition: 0.3s;
    text-underline-offset: 0.25rem;
}

.link-anim {
    text-decoration: none;
    display: inline-block;
}

.link-anim::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--teal);
    transition: width 0.3s;
}

a:hover, .link-anim, .link-anim:hover {
    color: var(--teal);
}

.link-anim:hover::after {
    width: 100%;
}

.l-nav, .l-menu {
    color: var(--white);
}

.l-nav:hover, .l-grey:hover {
    color: var(--grey);
}

.l-link {
    font-size: 1.25rem;
}

.l-menu {
    border-left: 1px solid var(--grey);
    padding: 0 1.25rem;
}

button {
    border: 0;
    background: none;
    transition: 0.3s;
    color: var(--black);
    font-family: 'Montserrat';
    cursor: pointer;
}

/* Text styles */

h1 {
    font-size: 3rem;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-weight: bold;
    margin: 1rem 0;
    border-bottom: 1px solid var(--black);
}

h2 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

h3 {
    font-weight: normal;
    margin: 1rem 0;
}

p {
    margin: 1rem 0;
    line-height: 150%;
}

.text-center {
    text-align: center;
}

address {
    display: inline;
    font-style: normal;
}

/* Image styles */

img {
    max-width: 100%;
}

.img-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-h {
    transition: 0.3s;
}

.img-h:hover {
    transform: scale(0.95);
}

.img-expand:hover {
    cursor: pointer;
}

/* Custom elements */

.more-arrow {
    font-size: 1.5rem;
    animation: point 2s infinite;
}

#getintouch {
    background-color: var(--white);
}

.getintouch-text {
    display: inline;
}

#lightbox {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 80%;
    max-height: 80%;
}

#lightbox::after {
    content: 'Click anywhere to close';
    color: var(--white);
    padding-top: 0.5rem;
}

/* Margins & Utility */

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1.25rem;
}

.pt-0 {
    padding-top: 0;
}

.bg-dark {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

/* Animations */

@keyframes point {
    0% { transform: translateY(0) }
    25% { transform: translateY(-5px) }
    50% { transform: translateY(-5px) }
    100% { transform: translateY(0) }
}

/* Containers, Flex & Grid */

section {
    padding: 2rem 0;
    overflow: hidden;
}

.intro {
    min-height: 85vh;
}

.container {
    width: 90%;
    margin: auto;
}

.container-2 {
    background-color: var(--faded);
}

.grid {
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-flow: column wrap;
}

.j-between {
    justify-content: space-between;
}

/* Footer */

footer {
    color: white;
    padding: 2rem 1.25rem;
}

/* Media queries */

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    #menu {
        display: block;
    }

    .hamburger, #mobilemenu {
        display: none;
    }

    .intro {
        min-height: 80vh;
    }
    
    .container {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 50%;
    }
}