* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font: normal 16px "Montserrat", Georgia, sans-serif;
}

a {
    color: #53B3A1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    border-bottom: 5px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li { 
    float: right;
}

.home-link {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
    transition: 0.3s;
}

.nav-link {
    border-left: 1px solid black;
}

li a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: white;
    z-index: 1;
}

.drop-link {
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
}

main {
    min-height: 100vh;
    margin: 0.25em 0;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
}

.column {
    flex: 1 0 200px;
    max-width: 100%;
}

.column img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0.25em 0px;
    transition: 0.3s;
}

.column img:hover {
    opacity: 0.6;
    transform:scale(.9)
}

#about-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.about-img {
    max-width: 50%;
    text-align: right;
    outline: 1px solid red;
}

.about-img img {
    max-width: 75%;
}

.about-desc {
    max-width: 50%;
    padding: 1em;
    outline: 1px solid red;
}

#bottom-gradient {
    height: 1em;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

footer {
    background-color: black;
    color: white;
    font-size: 0.75em;
    height: 100px;
    display: flex;
}

#credits {
    align-items: center;
    margin: auto;
}