* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font: normal 16px "Montserrat", Georgia, sans-serif;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.column {
    flex: 1 0 200px;
    max-width: 100%;
}

.column img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 5px 0px;
    transition: 0.3s;
}

.column img:hover {
    opacity: 0.6;
    transform:scale(.9)
}

footer {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
}

#credits {
    align-items: center;
    margin: auto;
}