@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-body: "Montserrat", sans-serif;
    --font-display: "Josefin Sans", sans-serif;
    --color-teal: #39D0B5;
    --color-black: #2E2E2E;
    --color-grey: #808080;
}